/* Basic Style */
body{
    background: #ecf0f1;
    color: #333;
    font-family: Lato,sans-serif;
}

.container{
    display: block;
    width: 500px;
    margin: 50px auto 0;
}

ul { 
    margin: 0; 
    padding: 0; 
  } 
    
  li * { 
    float: left; 
  } 
    
  li, 
  h3 { 
    clear: both; 
    list-style: none; 
  } 
    
  input, 
  button { 
    outline: none; 
  } 
    
  button { 
    background-color: #4CAF50;
    border: 0px; 
    color:blueviolet; 
    
    width: 100px; 
    font-family: Lato, sans-serif; 
    text-align: center;
    cursor: pointer; 
    font-size: 19px;
    margin: 4px 2px;
    border-radius: 40%;
  } 
    
  button:hover { 
    color:yellow; 
  } 
    
  h3, 
  label[for='new-task'] { 
    color: #333; 
    font-weight: 700; 
    font-size: 15px; 
    border-bottom: 2px solid #333; 
    padding: 30px 0 10px; 
    margin: 0; 
    text-transform: uppercase; 
  } 
    
  input[type="text"] { 
    margin: 0; 
    font-size: 18px; 
    line-height: 18px; 
    height: 18px; 
    padding: 10px; 
    border: 1px solid #ddd; 
    background: #fff; 
    border-radius: 6px; 
    font-family: Lato, sans-serif; 
    color: #888; 
  } 
    
  input[type="text"]:focus { 
    color: #333; 
  } 
    
  .middle { 
    text-align: center; 
  } 
    
  label[for='new-task'] { 
    display: block; 
    margin: 0 0 20px; 
  } 
    
  input#new-task { 
    
    width: 318px; 
  } 
    

    
  li { 
    overflow: hidden; 
    padding: 20px 0; 
    border-bottom: 1px solid #eee; 
  } 
    
  li>input[type="checkbox"] { 
    margin: 0 10px; 
    position: relative; 
    top: 15px; 
  } 
    
  li>label { 
    font-size: 18px; 
    line-height: 40px; 
    width: 237px; 
    padding: 0 0 0 11px; 
  } 
    
  li>input[type="text"] { 
    width: 226px; 
  } 
    
  li>.delete:hover { 
    color: #CF2323; 
  } 
    
  #completed-tasks label { 
    text-decoration: line-through; 
    color: #888; 
  } 
    
  ul li input[type=text] { 
    display: none; 
  } 
    
  ul li.editMode input[type=text] { 
    display: block; 
  } 
    
  ul li.editMode label { 
    display: none; 
  } 